<style>
    .middle {
        text-align: center;
    }
</style>
<div class="middle">
    <h1 class="mt-4" style="color: white;">Welcome <%= user.name %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda perspiciatis voluptatibus molestias sit, quas
        iste
        eveniet temporibus fugit quisquam autem, cupiditate obcaecati asperiores iusto nemo explicabo voluptatem commodi
        animi velit.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ratione magni error tempora consequuntur
        consectetur
        placeat provident incidunt sed fugit dignissimos eum molestiae voluptate excepturi quia maxime, unde quisquam
        recusandae.</p><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reiciendis animi nesciunt inventore ratione,
        architecto hic? Provident at nemo voluptatibus tenetur accusantium beatae animi, voluptates porro excepturi
        nihil
        suscipit modi quidem asperiores recusandae blanditiis rem. Laudantium dolore reprehenderit corporis accusantium!
    </p>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>